/* COLOUR VARIABLES */

$off-black:     #0C0F20;
$pale-blue:     #C4D0F0;
$blue:          #4A69BD;
$green:         #5EB078;
$red:           #BD4A4A;
$white:         #FFFFFF;
$black:         #000000;

$base-grad: linear-gradient(90deg, #B36ABE -21.98%, #4A69BD 34.21%);

/* BREAKPOINTS */

$sm:    576px;
$md:    768px;
$lg:    992px;
$xl:    1200px;
$xxl:   1400px;

