.account {
  .statistics {
    align-items: flex-start;
  }
  .settings{
    align-items: center;
  }
  .settings,
  .statistics {
    display: flex;
    flex-direction: column;

  }
  .col-12 {
    padding: 20px 30px;
    .image {
      img {
        border-radius: 50%;
        width: 350px;
        height: 350px;
        margin: 0 0 20px;
        margin: auto;
        align-self: center;
        object-fit: cover;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 20px 30px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
    .btn {
      width: 100%;
      margin: 10px;
    }
  }
  .stat{
    width: 100%;
    padding: 25px 24px;
    p{
      text-align: end;
      font-size: xx-large;
      color: $blue;
    }
  }
}
